<div class="main-content">
    <div class="container-fluid">
        <div class="row">
            <div class="col-md-6">
                <div class="card">
                    <div class="header">
                        <h4 class="title">Listado Envíos</h4>
                        <p class="category"></p>
                    </div>
                    <div class="content table-responsive table-full-width">
                        <table class="table">
                            <thead>
                                <tr>
                                    <th class="text-center">#</th>
                                    <th>Nombre</th>
                                    <th>Ruta</th>
                                    <th>Concepto</th>
                                    <th class="text-center">Acciones</th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr>
                                    <td class="text-center">1</td>
                                    <td>Juan Pablo Polo</td>
                                    <td>Cuenca - Quito</td>
                                    <td class="text-eye">4 Rollos</td>
                                    <td class="td-actions text-center">
                                        <a href="#" rel="tooltip" title="Ver Detalle" class="btn btn-primary btn-simple btn-xs">
                                            <i class="fa fa-eye"></i>
                                        </a>
                                    </td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>

            <div class="col-md-6">
                <div class="card">
                    <div class="header">
                        <h4 class="title">Solicitudes</h4>
                        <p class="category">Pendientes</p>
                    </div>
                    <div class="content table-responsive table-full-width">
                        <table class="table">
                            <thead>
                                <tr>
                                    <th class="text-center">#</th>
                                    <th>Nombre</th>
                                    <th>Ruta</th>
                                    <th>Concepto</th>
                                    <th class="text-center">Acciones</th>
                                </tr>
                            </thead>
                            <tbody *ngFor="let req of arrayDR; let i = index">
                                <tr>
                                    <td class="text-center">{{ i +1 }}</td>
                                    <td>{{ req.client }}</td>
                                    <td>{{ req.client }} - </td>
                                    <td>{{ req.description }}</td>
                                    <td class="td-actions text-center">
                                        <a href="#" rel="tooltip" title="Aceptar" class="btn btn-success btn-simple btn-xs">
                                            <i class="fa fa-check"></i>
                                        </a>
                                        <a href="#" rel="tooltip" title="Negar" class="btn btn-danger btn-simple btn-xs">
                                            <i class="fa fa-times"></i>
                                        </a>

                                    </td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>

    </div>
</div>