<div class="main-content">
    <div class="container-fluid">
        <div class="row">
            <div class="col-md-12">
                <div class="card">
                    <div class="header">
                        <h4 class="title">Operador Logístico: {{contTrans}}</h4>
                        <p class="category"></p>
                    </div>
                    <div class="content table-responsive table-full-width">
                        <table class="table">
                            <thead>
                                <tr>
                                    <th>Nombre</th>
                                    <th>Teléfono</th>
                                    <th>Dirección</th>
                                    <th class="text-right">Acciones</th>
                                </tr>
                            </thead>
                            <tbody *ngFor="let t of operator; let i=index;">
                                <tr>
                                    <td>{{t.name}}</td>
                                    <td>{{t.phone}}</td>
                                    <td>{{t.address}}</td>
                                    <td class="td-actions text-right">
                                        <a (click)="getDataOperator(i)" rel="tooltip" title="Ver Detalle" data-toggle="modal" data-target="#view" class="btn btn-primary btn-simple btn-xs">
                                            <i class="fa fa-eye"></i>
                                        </a>
                                        <!-- <a (click)="questionYN(i)" rel="tooltip" title="Eliminar" data-toggle="modal" data-target="#delete" class="btn btn-danger btn-simple btn-xs">
                                            <i class="fa fa-times"></i>
                                        </a> -->
                                    </td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
                <caption>
                    <button class="btn btn-icon btn-round btn-twitter" data-toggle="modal" data-target="#myModal1" style="position: fixed;  bottom: 40px; right: 30px; border-radius: 100% !important; float: right;">
                        <img src="assets/img/icons/mas.png">
                      </button>
                </caption>
            </div>
        </div>
    </div>
</div>

<div class="modal fade modal-mini modal-primary" id="myModal1" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
    <div class="modal-dialog" style="width: 400px;">
        <form #add="ngForm" id="addForm" (ngSubmit)="addOperador(add)">
            <div class="modal-content">
                <div class="modal-header justify-content-center">
                    Agregar
                    <button type="button" #closebutton class="close" data-dismiss="modal">&times;</button>
                </div>
                <div class="modal-body text-center">

                    <div class="content">
                        <div class="row">
                            <label class="col-md-4 col-form-label" style="margin-top: 10px;">Nombre:</label>
                            <div class="col-md-8">
                                <div class="form-group has-default">
                                    <input type="text" id="name" name="name" [ngModel]="name" class="form-control">
                                </div>
                            </div>
                        </div>

                        <div class="row">
                            <label class="col-md-4 col-form-label" style="margin-top: 10px;">Correo:</label>
                            <div class="col-md-8">
                                <div class="form-group has-default">
                                    <input type="email" id="email" name="email" ngModel class="form-control">
                                </div>
                            </div>
                        </div>

                        <div class="row">
                            <label class="col-md-4 col-form-label" style="margin-top: 10px;">Usuario:</label>
                            <div class="col-md-8">
                                <div class="form-group has-default">
                                    <input type="text" id="user" name="user" ngModel class="form-control">
                                </div>
                            </div>
                        </div>

                        <div class="row">
                            <label class="col-md-4 col-form-label" style="margin-top: 10px;">Teléfono:</label>
                            <div class="col-md-8">
                                <div class="form-group has-default">
                                    <input type="text" id="phone" name="phone" ngModel class="form-control">
                                </div>
                            </div>
                        </div>

                        <div class="row">
                            <label class="col-md-4 col-form-label" style="margin-top: 10px;">Dirección:</label>
                            <div class="col-md-8">
                                <div class="form-group has-default">
                                    <input type="text" id="address" name="address" ngModel class="form-control">
                                </div>
                            </div>
                        </div>

                    </div>
                </div>
                <div class="modal-footer">
                    <button type="submit" class="btn btn-info btn-simple">Aceptar</button>
                </div>
            </div>
        </form>
    </div>
</div>


<div class="modal fade modal-mini modal-primary" id="view" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-sm">
        <form id="viewForm">
            <div class="modal-content">
                <div class="modal-header justify-content-center">
                    Ver Datos
                    <button type="button" class="close" data-dismiss="modal">&times;</button>
                </div>
                <div class="modal-body">
                    <div class="content">
                        <div class="form-group">
                            <div class="row">
                                <label class="col-sm-3 control-label">Nombre:</label>
                                <div class="col-sm-9">
                                    <label class="control-label">{{dataOperator.name}}</label>
                                </div>
                            </div>
                        </div>
                        <div class="form-group">
                            <div class="row">
                                <label class="col-sm-3 control-label">Correo:</label>
                                <div class="col-sm-9">
                                    <label class="control-label">{{dataOperator.email}}</label>
                                </div>
                            </div>
                        </div>
                        <div class="form-group">
                            <div class="row">
                                <label class="col-sm-3 control-label">Rol:</label>
                                <div class="col-sm-9">
                                    <label class="control-label">{{dataOperator.role}}</label>
                                </div>
                            </div>
                        </div>
                        <div class="form-group">
                            <div class="row">
                                <label class="col-sm-3 control-label">Teléfono:</label>
                                <div class="col-sm-9">
                                    <label class="control-label">{{dataOperator.phone}}</label>
                                </div>
                            </div>
                        </div>
                        <div class="form-group">
                            <div class="row">
                                <label class="col-sm-3 control-label">Dirección:</label>
                                <div class="col-sm-9">
                                    <label class="control-label">{{dataOperator.address}}</label>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="modal-footer">
                    <button type="submit" class="btn btn-info btn-simple" data-dismiss="modal">Cerrar</button>
                </div>
            </div>
        </form>
    </div>
</div>